<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="./assets/icon/logo3.png" width="190px" height="40px" align="middle" />
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div align="center">
    <font size="5">
      <ion-icon name="bookmark"></ion-icon>
      {{month}} {{day}}, {{year}}
      <br/>
    </font>
  </div>
  <div class="ctl">
    <div (click)="includeDone()">include Done</div>
    <ion-toggle [(ngModel)]="tglFlg"></ion-toggle>
    <button ion-button small (click)="goToAddPage()">
      <ion-icon name="add"></ion-icon></button>
  </div>
  <ion-list>
    <ion-list-header>
      <div class="th" style="display: inline-block;width: 85px">End Date</div>
      <div class="th" style="display: inline-block;">Items</div>
      <button class="barbutton" ion-button full outline small color="dark" (click)="getPastTasks()">{{pastFlg?'▲ Show ':'▼ Hide '}} past items</button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let task of tasks.filter(filt)" @viewhide (press)="showAlert(task)">
      <ion-item [color]="task.status===1?'light':''" ion-item>
        <div class="td" style="width: 35px;">{{ (task.end_date | date:'EEE') }}</div>
        <div class="td" style="width: 50px;transition: 0.3s;" [ngClass]="{imp:isToday(task)}"> {{ isToday(task) ? 'today!' : (task.end_date | date:'M/d') }}</div>
        <div class="td">{{ task.item }}</div>
      </ion-item>
      <ion-item-options side="right">
        <div *ngIf="task.status!==1; then doneBlock; else delBlock"></div>
        <ng-template #doneBlock><button ion-button (click)="updateStatus(task,1)" color="danger">Done</button></ng-template>
        <ng-template #delBlock><button ion-button (click)="updateStatus(task,-1)" color="danger">Delete</button></ng-template>
      </ion-item-options>
      <ion-item-options side="left">
        <div *ngIf="task.status!==0; then todoBlock; else rescheBlock"></div>
        <ng-template #todoBlock><button ion-button (click)="resche(task)" color="primary">Todo</button></ng-template>
        <ng-template #rescheBlock><button ion-button (click)="resche(task)" color="primary">Carry</button></ng-template>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
