page-home {
    .imp{
        color:#ff4500;
    }
    .table {
        border: 1px solid black;
        border-collapse: collapse;
        .tr {
            height: 30px;
            .th,
            .td {
                border: 1px solid black;
                display: inline-block;
            }
        }
    }
    ion-list,
    ul {
        border: solid 2px #ffb03f;
        padding: 0.5em;
        position: relative;
        margin-top: 2em;
        ion-item,
        li {
            // line-height: 1.5;
            // padding: 0.5em 0 0.5em 1.4em;
            border-bottom: dashed 1px silver;
            list-style-type: none!important;
            div {
                display: inline-block;
            }
            &:last-of-type {
                border-bottom: none;
            }
            &.mark {
                &:before {
                    /*リスト内のアイコン*/
                    font-family: FontAwesome;
                    content: "\f138";
                    /*アイコン種類*/
                    position: absolute;
                    left: 0.5em;
                    /*左端からのアイコンまで*/
                    color: #ffb03f;
                    /*アイコン色*/
                }
                &:after {
                    /*タイトルタブ*/
                    background: #ffb03f;
                    color: #fff;
                    font-weight: bold;
                    position: absolute;
                    left: -2px;
                    bottom: 100%;
                    padding: 1px 7px;
                    content: "POINT";
                    /*タブの文字*/
                    letter-spacing: 0.05em;
                    /*字間*/
                }
            }
        }
    }
}