<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

      <ion-navbar>
        <ion-title>add</ion-title>
      </ion-navbar>

    </ion-header>

    <ion-content padding>

    <div *ngIf="errmsg.length != 0">
      <ion-row>
        <ion-col>
            <ion-label color="danger">{{errmsg}}</ion-label>
        </ion-col>
      </ion-row>
   </div>

    <ion-row>
      <ion-col>
          <ion-label color="primary">Item</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" placeholder="input new task" autofocus [(ngModel)]="item"   (keyup)="showRecomendItem($event)"></ion-input>
        </ion-item>

        <!-- <div *ngIf="recomendTasks.length != 0">
            <ul class="list-group"  *ngFor="let task of recomendTasks">
                <li class="list-group-item">{{task}}</li>
            </ul>
        </div> -->

        <div *ngIf="recomendTasks.length != 0">

            <div class="list-group">
                <a href="#" class="list-group-item" (focus)="selectTask(task,$event)" *ngFor="let task of recomendTasks">{{task}}</a>
            </div>
<!--
            <select multiple class="selectpicker">
                <option *ngFor="let task of recomendTasks" (keydown)="selectTask(task,$event)"><a>{{task}}</a></option>
             </select> -->
        </div>

      </ion-col>
    </ion-row>

    <!-- <div *ngIf="recomendTasks.length != 0">
        <ul class="list-group"  *ngFor="let task of recomendTasks">
            <li class="list-group-item">{{task}}</li>
        </ul> -->

        <!-- <ion-row>
          <ion-label color="primary" ngbTooltip="aaaa">Did you mean: </ion-label>
        </ion-row> -->
        <!-- <ion-row>
          <div *ngFor="let task of recomendTasks">
            <ng-template #tipContent>Hello, <b>{{name}}</b>!</ng-template>
            <button ion-button round small (click)="selectTask(task)" [ngbTooltip]="tipContent" >{{task}}</button>
          </div>
        </ion-row> -->
    <!-- </div> -->

    <ion-row>
      <ion-col>
          <ion-label color="primary">End Date</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self="center">
          <ngb-datepicker #dp [(ngModel)]="endDate" (navigate)="date = $event.next" name="endDate"></ngb-datepicker>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button ion-button block icon-start color="secondary" (click)="goToHomePage()">Return</button>
        </ion-col>
        <ion-col>
            <button ion-button block icon-end (click)="addTask()">Submit</button>
        </ion-col>
    </ion-row>

    </ion-content>
