page-add {
    .ngb-dp-day[_ngcontent-c3].ngb-dp-day[_ngcontent-c3], .ngb-dp-weekday[_ngcontent-c3], .ngb-dp-week-number[_ngcontent-c3] {
        width: 5rem;
        height: 5rem;
        font-size: 1.7rem;
    }


}
